* { 
    margin:0px;
    padding:0px;
  }
  
  @media only screen and (max-width: 768px) {
    
  
  
    .css-selector {
      font-family: "Shrikhand";
      border: 3px solid black;
      font-family: "Roboto";
    }


.logo_head{
    border:2px solid blue;
    width:350px; 
    height:300px;
   }

.name { 
    border:1px solid black;
    font-family:"Shrikhand"; 
}

    .full_1{
        border: 2px solid purple;
       
    }



    footer{ 
  
        background-color: #353535;
        width:100%; 
        min-height: 100px;
        padding:10px;
        color:#fff;

    }
        ul { 
        list-style: none;
        text-decoration-style: none;
        margin: 10px 0 0 3px;
        font-family:"Roboto";
        line-height: 30px;
        }
      
     
     
      .logo-end{ 
        font-family: "Shrikhand";
        .email_contact{ 
          text-decoration: none;
        }
      
      }
      
      
      }